#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
    width: 400px;
    height: 400px;
}

.cell {
    background-color: #eee;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
